
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> PHPStorm ###
.idea/
###< PHPStorm ###

###> Webpack ####
/node_modules/
###< Webpack ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###< local scripts
test.sh
local-php-security-checker
###> local scripts

###< local uploads
/public/uploads/
###> local uploads