<button data-toggle="tooltip" data-placement="top" title="Click to like the video"
        type="button" class="btn btn-primary btn-outline-success btn-sm ml-1">
    <i class="fa fa-thumbs-up"></i>
</button>
<!-- <button data-toggle="tooltip" data-placement="top" title="You like the video. Click to unlike" type="button" class="btn btn-primary btn-outline-success btn-sm mr-2">
<i class="fa fa-thumbs-up"></i>
</button> -->
<button data-toggle="tooltip" data-placement="top" title="Click to dislike the video"
        type="button" class="btn btn-primary btn-outline-danger btn-sm ml-1 mr-1">
    <i class="fa fa-thumbs-down"></i>
</button>
<!-- <button data-toggle="tooltip" data-placement="top" title="You don't like the video. Click to undo" type="button" class="btn btn-primary btn-outline-danger btn-sm mr-2">
<i class="fa fa-thumbs-down"></i>
</button> -->