{% extends 'admin/base.html.twig' %}

{% block mainadmin %}
    <h2>Upload a video</h2>
    {{form_errors(form.uploadedVideo)}}
    {{ form_start(form) }}
    <div class="form-group">
        <div class="custom-file">
            {{ form_widget(form.uploadedVideo) }}
            <label class="custom-file-label" for="video_uploadedVideo">Choose file</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{% endblock %}